<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <div>
      </div>
<% if(users){ %>
      <form class="form-inline" action="/logout" method="POST">
        <label for="logout" class="mr-2 my-0">Logged in as: <%= users.email %></label>
        <button class="btn btn-outline-dark my-0 px-3" type="submit">Logout</button>
      </form>
    <% } else { %>
      <div class="justify-content-end">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
    <a class="nav-item nav-link" href="/register">Register</a>
    <a class="nav-item nav-link" href="/login">Login</a>
    </div>
  </div>
</div>
    <% } %>

  </nav>
</header>


<!-- TODO the login/logout portion of the header doesn't collapse properly with the rest of the navbar,-->
